<html>
    <head>
        <title>Home page</title>
        <link rel='stylesheet' href='/dist/css/bootstrap.min.css'>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h2>User List</h2>
            
            <table class="table table-hover">
                <thead>
                    <tr>
                         <th>ProductCode</th> 
                        <th>ProductName</th>
                        <th>ProductOriginPrice</th>
                        <th>Quantity</th>
                        <th>ProductStoreCode</th>
                        <th>ProductData</th>
                        <th>info</th>
                        <th>ID get</th>
                    </tr>
                </thead>
                <% for(var i=0; i < productcolls.length; i++) { %>
                <tr ondblclick="handleUpdateUser('<%= productcolls[i]._id %>')">
                     <td><%= productcolls[i].ProductCode %></td> 
                    <td><%= productcolls[i].ProductName %></td>
                    <td><%= productcolls[i].ProductOriginPrice %></td>
                    <td><%= productcolls[i].Quantity %></td>
                    <td><%= productcolls[i].ProductStoreCode %></td>
                    <td><%= productcolls[i].ProductData %></td>
                    <td>
                        <input class="btn btn-primary" type="button" value="info"
                            onclick="handleUpdateUser('<%= productcolls[i].ProductCode %>')">
                    </td>
                    <td>
                        <input id="update-btn" class="btn btn-secondary" type="button" value="DELETE"
                    onclick="handleDeleteUser('<%= productcolls[i]._id %>')">   
                    </td>
                </tr>
                <% } %>
            </table>
            <script>
                function handleUpdateUser(value) {
                    $(location).attr('href', '/detail/' + value);
                }
                
                function handleDeleteUser(value) {
                $.ajax({
                    url: '/' + value,
                    type: 'DELETE',
                    success: function (result) {
                        $(location).attr('href', '/');
                    }
                })
            }

            </script>
        </div>


        <div class="container">
            <h2>ADD Product </h2>
            <form action="/"  method="POST">
                <div class="form-group">
                    <label>Product Code</label>
                    <input class="form-control" type="text" name='ProductCode'>
                </div>
                <div class="form-group">
                    <label>Product Name</label>
                    <input class="form-control" type="text" name='ProductName'>
                </div>
 

                <div class="form-group">
                    <label>Product Origin Price</label>
                    <input class="form-control" type="text" name='ProductOriginPrice'>
                </div>
               

                <div class="form-group">
                    <label>Quantity</label>
                    <input class="form-control" type="text" name='Quantity'>
                </div>

                <div class="form-group">
                    <label>Product Store Code</label>
                    <input class="form-control" type="text" name='ProductStoreCode'>
                </div>
                 
                <div class="form-group">
                    <label>Product Data</label>
                    <input  class="form-control" type="date" name='ProductData'> 
                </div>

                <input id="add-btn" class="btn btn-primary" type="submit" value="ADD Prodcut">
            </form>
        </div>
        <script>
        function postItem() {
        $.ajax({
            type: "POST",
            url: "http://localhost:2512/",
            data: {
                ProductCode: req.body.ProductCode,
        ProductName: req.body.ProductName,
        ProductOriginPrice: req.body.ProductOriginPrice,
        Quantity: req.body.Quantity,
        ProductStoreCode: req.body.ProductStoreCode,
         ProductData: req.body.ProductData
            },
            error: function(jqXHR, textStatus, err) {
                //show error message
                alert('text status '+textStatus+', err '+err)
            }
        });
    }//postItem()

    $('#add-btn').on('click', function() {
        postItem();
    })</script>


    </body>
</html>